In [1]:
import joblib
import pandas as pd
import numpy as np

import sys
sys.path.insert(0, '/Users/gokhan/libs')

from Evio.FeatureGenerator import FeatureGenerator

In [2]:
schema = joblib.load('./models/features/merged_schema_best_3920_features.joblib')

In [9]:
# load train features
trainDataFrame = pd.read_csv('./data/train.csv')

# remove constant columns
colsToRemove1 = []
for col in trainDataFrame.columns:
    if trainDataFrame[col].std() == 0:
        colsToRemove1.append(col)

trainDataFrame.drop(colsToRemove1, axis=1, inplace=True)

# remove duplicate columns
colsToRemove2 = []
columns = trainDataFrame.columns
for i in range(len(columns)-1):
    v = trainDataFrame[columns[i]].values
    for j in range(i+1,len(columns)):
        if np.array_equal(v,trainDataFrame[columns[j]].values):
            colsToRemove2.append(columns[j])

#trainDataFrame.drop(colsToRemove2, axis=1, inplace=True)

# load test features
testDataFrame = pd.read_csv('./data/test.csv')
# drop useless columns:
testDataFrame.drop(colsToRemove1, axis=1, inplace=True)
testDataFrame.drop(colsToRemove2, axis=1, inplace=True)

In [13]:
trainDataFrame = None

In [10]:
len(colsToRemove1)

34

In [11]:
len(colsToRemove2)

29

In [12]:
testDataFrame.shape

(75818, 307)

In [14]:
testDataFrame.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40532.10
1,5,2,35,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,45486.72
2,6,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,46993.95
3,7,2,24,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,187898.61
4,9,2,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,73649.73

In [15]:
testIDs = testDataFrame['ID']
testFeatures = testDataFrame.drop(['ID'], axis=1)

In [16]:
testFeatures.shape #must have 306 cols

(75818, 306)

In [17]:
fg = FeatureGenerator()
testTransformed = fg.generate_features_from_schema(testFeatures, schema)

In [18]:
testTransformed.shape # must have 3920 cols

(75818, 3920)

In [19]:
testTransformed['ID'] = testIDs

In [20]:
testTransformed.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4993,4994,4995,4996,4997,4998,4999,ID
0,1,1,1,0,1,0,1,1,0,0,...,0,1,1,0,1,1,1,0,0,2
1,1,1,1,0,1,1,1,1,0,0,...,0,1,1,0,1,1,1,0,1,5
2,1,0,1,0,0,0,1,1,1,0,...,1,1,1,1,1,0,1,1,0,6
3,1,1,0,1,1,0,1,1,1,1,...,1,1,0,1,0,1,1,0,0,7
4,1,1,1,0,0,0,1,1,1,0,...,1,1,1,1,0,1,1,1,0,9

In [21]:
testTransformed.to_csv('./data/testTransformed.csv', index=False)